@font-face { font-family: Delicious; src: url('../fonts/ringbearer/font.TTF'); }

* {
    box-sizing: border-box;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.container {
    position: absolute;
    background-color: rgba(69, 58, 36, 0.92);
    padding: 20px;
    height: 805px;
    width: 70%;
}

/* HEADER */

h1 {
	font-family: Delicious;
    text-align: center;
    font-size: 6em;
    color: #eee;
}

#sean-bean {
	font-family: Delicious;
    text-align: center;
    font-size: .8em;
    color: #eee;
    margin-top: 20px;
}

h3 {
	font-family: Delicious;
    text-align: center;
    font-size: 2em;
    color: #eee;
    border-top: 1px solid #eee;
    margin-top: 5%;
    padding-top: 2%;
    border-bottom: 1px solid #eee;
    padding-bottom: 2%;
}


#column-wrapper {
	font-family: Delicious;
	display: inline-block;
	height: auto;
	width: 100%;
	margin-top: 5%;
}

/* LEFT AND RIGHT DIVS */

#left {
    width: 50%;
    height: 400px;
    display: inline-block;
    border-right: 1px solid #eee;
}

#right {
    width: 50%;
    float: right;
}

#img-hint {
    width: 100%;
    max-height: 400px;
    padding: 15px;
    border-radius: 10%;
}


/* DYNAMIC CONTENT */

.dynamic-content {
    width: 75%;
    height: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1.5em;
    color: #eee;
    border: 1px groove #eee;
}
